* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* more on this crazy alphanumerical value in a minute! */
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}

/* added display:flex to the below, justify content, and flex-wrap */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex;
  justify content: space-between;
  flex-wrap:wrap;
}
/* removed display inline from the below */
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #fce138;
}
/* removed float:right from the below */
header nav {
  margin: 7px 0;
}

/* removed the header nav ul li and replaced with the below */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify content: space-between;
  align-items: center;
  list style: none;

}

/*updated the font size below using vw unit of measure */
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}
/*added display flex, flex wrap and justify content elements */
footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* removed display: inline */
footer h2 {
  color: #024e76;
  font-size: 30px;
  margin: 0;
}
/* removed float right */
footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #024e76;
}

section {
  padding: 60px;
}

/* removed the position and height elements - added display flex, justify content, and flex wrap elements */
.hero {
  background-image: url('file:///Users/user/Desktop/boot_camp_cert/projects/run-buddy/assets/images/hero-bg.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* Hero Style End */

/* removed width, position, bottom and right - added width and margin */

.hero-form {
  border: 3px solid #024e76;
  background-color: #fce138;
  padding: 20px;
  color: #024e76;
  width: 40%;
  margin: 3.5%;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}
.hero-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}
/* added this to style the call to action */

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
}

/*added the below */
.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #fce138;
}

/* removed intro css */

/* added text align */

.intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

/* created the below style */
.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid #39a6b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* removed the text-align element */
.steps {
  background: #fce138;
}

/* removed steps div, steps img, and steps span sections */

/* removed margin top and renamed from steps h3 to step h3, added flex 30% */
.step h3 {
  color: #024e76;
  font-size: 46px;
  flex: 1 30%;
}

/* created the below */
.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* changed from .steps p to .step-text p and font size from 23 px */
.step-text p {
  color: #39a6b2;
  font-size: 18px;
}

/* added the below style rule */
.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: #024e76
}

/* added the below */
.step-img {
  flex: 1 12%
  margin-right: 20px;
}

/* added the below */
.step-img img {
  max-width: 100%;
}

/* added the below */
.step-text {
  flex: 12;
}


/* removed display, padding, and margin bottom and added padding nottom, text alogn, margin and width */

.section-title {
  font-size: 55px;
  color: #024e76;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #39a6b2;
}

/* removed the text-align direction from the below and added width, margin, display, flex-wrap, and justify content */
.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* removed width, overflow, changed margin and added flex:1 */

.trainer {
  margin: 20px;
  background: #024e76;
  color: #fce138;
  flex: 1;
}

/* rmoved float-left and changed width */

.trainer img {
  width: 100%;
}

/* remove the float and width and changed padding */
.trainer-bio {
  padding: 25px;
}

/* Updated the below to remove margin-bottom and changed the font size */

.trainer-bio h3 {
  font-size: 28px;

}

/* changed the font size below, changed the margin value added line height dec */

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 1.3;
}

/* moved the line height dec to the .trainer-bio */

.trainer-bio p {
  font-size: 17px;

}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* added the below so the rule is applied anytime we need a flexbox row contaimer*/
.flex-row {
  display: flex;
}

/* REACH OUT STYLES START */
/* removed the text-align element */
.contact {
  text-align: center;
  background: #024e76;
}

.contact h2 {
  color: #fce138;
}

/* added in the below CSS rule */
.contact-info {
display:flex;
justify-content:space-between;
flex-wrap:wrap;
}

/* removed width */
.contact-info iframe {
  height: 400px;
}

/*removed width, display, vertical align, text align, and margin */

.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color: white;
}

.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}

.contact-info a {
  color: #fce138;
}

/* added the below two CSS rules */
.contact-form input, 
.contact-form textarea {
border:1px solid #024e76;
display:block;
padding:7px 15px;
font-size:16px;
color:#024e76;
width:100%;
margin-bottom:15px;
margin-top:5px;
}

.contact-form button {
  width:100%;
  border:none;
  background:#fce138;
  color:#024e76;
  text-align:center;
  padding:15px 0;
  font-size:16px;
}

/* REACH OUT STYLES END */